@media (prefers-color-scheme: light) {

  /* Body */
  #page {
    --background-overall: #fafafa;
  }

  .btn-download {
    border: 1px solid #4e1e5d;
  }

  * {
    --color-text: #4e1e5d;
  }

  /* Switcher */

  .switcher__radio {
    filter: invert(0);
  }

  .switcher__radio:checked {
    filter: invert(1);
  }

  .switcher__status {
    filter: invert(0);
  }

}

html[data-theme='light'] {
  * {
    --color-text: #4e1e5d
  }

  #page {
    --background-overall: #fafafa;
  }

  .project__content {
    h3 {
      --color-text: #e0e0e0;
    }
  }


  .btn-download {
    border: 1px solid #4e1e5d;
  }

}

