@font-face {
	font-family: 'Ubuntu', sans-serif;
	src: url('../fonts/Ubuntu-Bold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+00-52F, U+1E00-1FFF, U+2200-22FF;
}