$font-size: 1.03em;
$font-size-tile: 1rem;
$font-Sigmar: 'Ubuntu', cursive;
$font-weight-text:500;
$color-text: #e0e0e0;
$hover-links: #e0e0e0c9;
$background-overall:#1C121F;
$background-skill-section: linear-gradient(0deg, #bc1965, #493062 100%);
$background-button: #a42445;
$border-radius-btn :5px;
$padding-btn: 1.1rem 1.5rem;
$max-width: 1440px;