.skills{
	display: grid;
	grid-template-columns: repeat(4, 25%);
	margin: 0 auto;
	align-items: center;
	margin-top: $margin-top;
	font-size: 1.6rem;

	&__title{
		text-align: center;
		font-size: 2.2rem;
	}

	&__list{
		list-style: none;
		line-height: 1.4;
		font-size: 1.5rem;
	}

	&__item {

		&::before{
		content: "<";
		margin-left: -12px;
		color: #f18ba5;
	}
	
		&::after{
			content: ">";
			color: #f18ba5;
		}
	}
}

.background-block{
	background-image: $background-skill-section;
	padding: 3rem;
	border-radius: $border-radius-btn;
}